# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
ENV/
*.env

# Streamlit
.streamlit/

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# Docker
*.log
docker-compose.override.yml

# Workspace and output
workspace/
workspace/*
workspace/hf_cache/
!workspace/input_pdfs/
!workspace/markdown/

# System files
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.tmp

